.title 
{
    background-color: aqua;
    font-size: 40px;
    padding: 10px; 
    height: 40px;
    color: white;
    font-weight: bold;
    font-family: Arial;
}

.footer
{
    font-size: 15px;    
    color: white;
    background-color: black;    
    clear: both;
    bottom: 0;    
    position: fixed;
    width: 100%;
    padding: 20px;
}

.logo
{
    float: left;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;    
}

.operacoes
{
    width: 20px;
    height: 20px;	
}

.menu
{
    background-color: silver;    
    
}

.menu a
{
    color: white;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10px;
}

table 
{
	border-collapse: collapse; 
}

table, tr, td, th 
{
    border: 2px solid black;
}
