.div
{
    padding: 50px;
    float: right;    
    width: 145px;
    height: 0px;
    margin: 100px;
    clear: both;
    padding-top: 10px;
}

.divsubmit
{
    float: right;    
    clear: both;
    padding: 50px;
    padding-top: 0px;
    padding-right: 97px;     
}

.link
{
    float: right;    
    clear: both;
    padding: 50px;
    padding-top: 0px;
    padding-right: 97px;             
}

.input
{    
    width: 300px;    
}

.image
{   
    padding-top: 110px;
    padding-left: 110px;
    position: absolute;    
    width: 400px;
    height: 300px;
}

.logar
{            
    width: 200px;
    height: 35px;
}

.error
{
	color: red;
}

.campo
{
	height: 30px;
	width:  200px;
}


.logar
{
	height: 30px;
	width:  100px;
}
