.mensagem 
{
    color: red;
    font-size: 40px;
    position: absolute;
    bottom: 330px;     
    text-align: center;
}


.voltar 
{    
    position: absolute;
    bottom: 300px;
    text-align: center;     
}